<% if questions.empty? %>
 (no questions yet)
<% else %>
  <ol>
    <% questions.each do |question| %>
      <div class="well">
        <li><strong><%= question.text %></strong></li>
        <%= erb :'/questions/_question', locals: {question: question} %>
      </div>
    <% end %>
  </ol>
<% end %>
