<div class='container'>
  <h3><%= @survey.name %></h3>
  <p>Create your survey below (all fields must contain text):</p>
  <hr>
  <form id="surveyx" class='form-horizontal' action=<%= "/surveys/#{@survey.id}/questionsx" %> method="post">
    <div id='question-group'>
      <div class='question' id='question_0'>
        <div class='form-group'>
          <label class='form-label col-lg-1' for='question-text'>Question:</label>
          <textarea class='col-lg-8' id='question-text' type='text' name='survey[0][0]'></textarea>
        </div>
        <div class='choice-group'>
          <div class='form-group choice'>
            <label class='form-label col-lg-1' for='choice_0_1'>Choice:</label>
            <input class='col-lg-8' id='choice_0_1' type='text' name='survey[0][1]'/>
          </div>
        </div>
        <div class='add-choice btn btn-xs btn-default'>Add Choice</div>
      </div>
    </div>
    <hr>
    <div class="btn btn-xs btn-default" id="add-question">Add Question</div>
    <hr>
    <div><input class="btn btn-primary" type="submit" value="Finish Survey"/></div>
  </form>
</div>
