<div class='container'>
  <h3>Take a poll:</h3>
    <div class="list-group">
      <% @surveys.each do |survey| %>
        <a href="/surveys/<%= survey.id %>/polls/new" class="list-group-item"><%= survey.name %> <%= "(created #{survey.nice_date} by #{survey.owner})" %></a>
      <% end %>
    </div>
</div>

