<div class="container">
  <h3>Create your own survey!</h3>
  <%= erb :_form_errors %>
  <form role="form" action='/surveys' method="post">
    <div>
      <label for="survey-name">Deck Name:</label>
      <input id="survey-new" type="text" name="survey[name]"/>
    </div>
    <input class="button" type="submit" value="Create Survey"/>
  </form>
</div>
