<div class="container">
  <h3>Name your survey!</h3>
  <%= erb :_form_errors %>
  <form class="form" id='new-survey-form' action='/surveys' method="post">
    <div class="form-group">
      <label for="survey-name">Survey Name:</label>
      <input id="survey-name" type="text" name="survey[name]"/>
    </div>
    <input class="btn btn-primary" type="submit" value="Create Survey"/>
  </form>
</div>
