<div class='container'>
  <h3><%= @survey.name %></h3>
  <h6><%= "(created by #{@survey.owner} on #{@survey.nice_date})" %></h6>
  <%= erb :'questions/_questions', locals: { questions: @survey.questions } %>
</div>
