<div class="list-group">
  <% polls.each do |poll| %>
    <a class="list-group-item" href="/polls/<%= poll.id %>">"<%= poll.survey_name %>" taken <%= poll.nice_date %> by <%= poll.taker %></a>
  <% end %>
</div>
