<div class='container'>
  <% if logged_in? %>
    <h2>Hello there! Tell us what you would like to do:</h2>
    <div class="list-group">
    <h3><a class="list-group-item" href="/surveys/new">Create a survey</a></h3>
    <h3><a class="list-group-item" id="take_a_poll_link" href="/polls/new">Take a poll</a></h3>
    <h3><a class="list-group-item" href="/users/<%= current_user.id %>">View my surveys and polls</a></h3>
    </div>
  <% else %>
    <h1>Hello there! <a href="/signup">Sign up</a> or <a href="/login">log in</a> to create a survey or take a poll!</h1>
  <% end %>
</div>